@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin: 1rem auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    max-width: 1000px;
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 2;
    color: #fff;
    justify-content: center;
}

.background {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(5px);
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fb7d00e0;
}

.imgs-block {
    display: flex;
    max-width: 1280px;
    margin: auto;
    flex-direction: row;
}

.img-block {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
}

.img-block:hover {
    scale: 1.1;
}

.winterImg {
    background-image: url(../public/assets/img/winter-bg.jpg);
}

.rainyImg {
    background-image: url(../public/assets/img/rainy-bg.jpg);
}

.summerImg {
    background-image: url(../public/assets/img/summer-bg.jpg);
}

.PlayAndPause {
    width: 80px;
    height: 80px;
}

.inputVolume {
    -webkit-appearance: none;
    width: 250px;
    margin: 20px auto;
    border-radius: 10px;
}

.inputVolume {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

.inputVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #007cf8;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

.inputVolume::-webkit-slider-runnable-track {
    height: 1em;
    border-radius: 10px;
    background: #efefef;
    box-shadow: none;
}

.inputVolume::-webkit-slider-thumb:hover {
    background: #0061c3;
}

.inputVolume:hover::-webkit-slider-runnable-track {
    border-radius: 10px;
    background: #e5e5e5;
}

.inputVolume::-webkit-slider-thumb:active {
    background: #2f98f9;
}

.inputVolume::-webkit-slider-runnable-track {
    background: linear-gradient(#007cf8, #007cf8) 0/var(--sx) 100% no-repeat, #efefef;
}

.inputVolume:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#0061c3, #0061c3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

.inputVolume:active::-webkit-slider-runnable-track {
    background: linear-gradient(#2f98f9, #2f98f9) 0/var(--sx) 100% no-repeat, #f5f5f5;
}